@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Nunito&display=swap');

*, *::after, *::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    font-family:'Cascadia Code', 'Nunito', 'Monospace';
    // background-color: rgb(245, 245, 245);
}

.navbar
{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background: rgb(245, 245, 245);

    .logo
    {
        // margin-left: 50px;
        font-size: 30px;
        font-weight: bold;
    }

    .nav-items
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height:100%;
        // margin-left: auto;
        // margin-right: 50px;
        // border: 1px solid red;

        .nav-item
        {
            padding: 10px;
            margin: 10px;
            // border: 1px solid blue;
        }
    }
}

.article
{
    width: 50%;
    margin: 20px auto 0px auto;
    min-height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .metadata
    {
        // border: 1px solid yellow;

        div
        {
            margin: 10px;
        }
    }

    .contents
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > div
        {
            margin: 10px;
        }

        .section
        {
            // border: 1px solid red;
            .content
            {
                margin: 15px 0;
            }
        }

    }
}
        
.image
{
    // width: 100%;
    margin: 0 auto;   
    // border: 1px solid red;
    
    img
    {
        display: inline-block;
        width: 100%;
        // border: 1px solid red;
    }
}

.heading
{
    --fontSize: 32px;
    font-size: var(--fontSize);
    text-transform: capitalize;
    margin: 0;
    // border: 1px solid black;

    &.type-1
    {
        --fontSize: 28px;
    }
    &.type-2
    {
        --fontSize: 24px;
    }
    &.type-3
    {
        --fontSize: 20px;
    }
    &.type-4
    {
        --fontSize: 18px;
    }
    &.type-5
    {
        --fontSize: 16px;
    }
        
    .caption
    {
        margin: 0;
        font-size: calc( 3 * var(--fontSize) / 5 );
        color: grey;
        // border: 1px solid red;
    }
}


.author
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
    // border: 1px solid red;

    .pic
    {
        width: 60px;
        height: 60px;
        background-color: black;
        border-radius: 50%;
        margin: 5px;
        // border: 1px solid red;
    }

    .name
    {
        font-size: 18px;
    }

    .links
    {
        // margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a{
            text-decoration: none;
            color: black;
            font-size: 19px;
            margin: 0 5px;
        }
    }

    &.inline
    {
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        height: fit-content;
        padding: 0;
        top: unset;
        transform: unset;
        left: unset;
        // border: 1px solid pink;

        .links{
            margin-left: auto;
        }
    }
}